extends layout

block content
  h1= title
  a.btn.btn-primary(href="/inventory-app/case/create", role="button") Create New Case
  ul
    each caseItem in caseList
      li
        a(href=`/inventory-app/case/${caseItem._id}`) #{caseItem.brand} #{caseItem.model} #{caseItem.series} #{caseItem.color} #{caseItem.type}
        br
