extends layout

block content
  h2 #{caseItem.brand} #{caseItem.model} #{caseItem.series} #{caseItem.color} #{caseItem.type}
  p
    h3= title
    | Brand: #{caseItem.brand}
    br
    | Model: #{caseItem.model}
    br
    | Series: #{caseItem.series}
    br
    | Color: #{caseItem.color}
    br
    | Type: #{caseItem.type}
    br
    | Date First Available: #{caseItem.dateFirstAvailable_formatted}
