extends layout

block content
  h1= title
  ul
    - for (let caseItem of caseList)
      li
        a(href=`/cases/${caseItem._id}`)= `${caseItem.brand} ${caseItem.model} ${caseItem.series} ${caseItem.color} ${caseItem.type}`
        br
