extends layout

block content
  h1= title
  if gpuList && gpuList.length
    ul
      each gpu in gpuList
        li
          a(href=`/inventory-app/gpu/${gpu._id}`) #{gpu.brand} #{gpu.GPU} #{gpu.series} #{gpu.gpuInterface} #{gpu.model}
  else
    p No GPUs found
