extends layout

block content
  h1= title
  if memoryList && memoryList.length
    ul
      each memory in memoryList
        li
          a(href=`/inventory-app/memory/${memory._id}`)= `${memory.brand} ${memory.series} ${memory.capacity} ${memory.type} ${memory.speed}`
  else
    p No memories found
