extends layout

block content
  h1= title
  a.btn.btn-primary(href="/inventory-app/motherboard/create", role="button") Create new motherboard
  if motherboardList && motherboardList.length
    ul
      each motherboard in motherboardList
        li
          a(href=`/inventory-app/motherboard/${motherboard._id}`) #{motherboard.brand} #{motherboard.model} #{motherboard.CPUSocketType}
  else
    p No motherboards found
